.projectDescContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-bottom: 15%;
  width: 100%;

  h3 {
    font-size: 1.3rem;
  }

  h2::first-letter,
  h3::first-letter {
    color: #ff3347;
  }

  h3,
  p {
    color: white;
  }

  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem 0 2rem 0;
  }

  .detailsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;

    p {
      width: 70%;
      text-align: right;
    }
  }
}

.screenShotCardContainer {
  flex-direction: column;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .screenShotCardContainer {
    flex-direction: column;
  }

  .detailsRow {
    flex-direction: column;
    justify-content: center;

    p {
      text-align: center !important;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .detailsRow {
    flex-direction: column;
    justify-content: center;

    p {
      text-align: center !important;
    }
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .detailsRow {
    flex-direction: column;
    justify-content: center;

    p {
      text-align: center !important;
    }
  }
}

/* Large desktop */
@media (min-width: 1280px) {
}
