.skillsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style-type: none;
    font-size: 1.2rem;
    margin-left: 3rem;

    li {
      margin: 1rem 0 1rem 0;
      cursor: pointer;
    }
    :hover {
      font-size: 1.4rem;
      font-weight: 600;
      color: #ff3347;
    }
  }

  .skillIcon {
    min-width: 40px;
    min-height: 40px;
  }
}

.activeSkillset {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ff3347;
}

.skillsDisplay {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  height: fit-content;
  width: 30rem;
}

.skillsHeader {
  display: flex;
  align-items: center;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .skillsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-bottom: 15%;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      margin: 0;
      padding: 0;
    }
  }

  .skillsDisplay {
    height: 15rem;
    width: 15rem;
  }

  .skillsDisplay {
    justify-content: space-around;
    height: fit-content;
    width: 20rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .skillsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-bottom: 15%;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      margin: 0;
      padding: 0;
    }
  }

  .skillsDisplay {
    height: 15rem;
    width: 15rem;
  }

  .skillsDisplay {
    justify-content: space-around;
    height: fit-content;
    width: 20rem;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .skillsHeader h1 div span {
    display: flex;
    flex-direction: row;
  }

  .skillsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-bottom: 15%;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      margin: 0;
      padding: 0;
    }
  }

  .skillsDisplay {
    height: 15rem;
    width: 15rem;
  }

  .skillsDisplay {
    justify-content: space-around;
    height: fit-content;
    width: 20rem;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .skillsDisplay {
    width: 30%;
  }
}
